/* Nama : Yoga Bagja Ramadhan
NRP : 203040112
Shift Praktikum : Kamis pukul 08:00 */

table {
    border: 1px solid black;
}

td,
h2 {
    text-align: center;
}

h1 {
    text-align: justify;
}

img {
    height: 250px;
}